SELECT SUM(SAL), MAX(SAL), MIN(SAL) FROM EMP;

SELECT * FROM EMP ORDER BY EMPNO;

SELECT JOB, SUM(SAL) FROM EMP GROUP BY JOB ORDER BY JOB;

SELECT DEPTNO, SUM(SAL) FROM EMP GROUP BY DEPTNO;

SELECT ENAME FROM EMP WHERE SAL <= 1500
 UNION
SELECT DNAME FROM DEPT;

SELECT /*+ ordered use_merge(d) */ * FROM EMP e, DEPT d WHERE e.DEPTNO = d.DEPTNO;

SELECT EMPNO, ROW_NUMBER() OVER (ORDER BY HIREDATE) FROM EMP;

SELECT * FROM EMP WHERE DEPTNO = 10
 UNION
SELECT * FROM EMP WHERE DEPTNO = 20;

SELECT * FROM EMP WHERE DEPTNO = 10
 UNION ALL
SELECT * FROM EMP WHERE DEPTNO = 20;

SELECT DISTINCT DEPTNO FROM EMP ORDER BY DEPTNO;

SELECT DEPTNO FROM EMP WHERE EXISTS (SELECT 1 FROM DEPT WHERE DEPTNO = EMP.DEPTNO);


SELECT b.DEPTNO FROM EMP a, DEPT b WHERE a.deptno = b.deptno

SELECT DEPTNO FROM DEPT WHERE EXISTS (SELECT 1 FROM EMP WHERE DEPTNO = DEPT.DEPTNO) ORDER BY DEPTNO