--전체사원수 | 부서개수 | 부서별평균사원수 | 부서별최대사원수|부서별최소사원수 | 최소사원수의부서 | 최대사원수의부서

SELECT SUM(DECODE(no,1,1)), no, a.*
  FROM EMP a,
       (select rownum no from dual connect by (rownum <= 5))
 
SELECT COUNT(*) 전체사원수,
       SUM(CASE WHEN DEPTNO = LAG(DEPTNO) OVER (ORDER BY DEPTNO) THEN 1 ELSE NULL) + 1 부서개수
  FROM EMP;
  
SELECT SUM(EMPNUM) AS 전체사원수,
       COUNT(*) AS 부서개수,
       ROUND(AVG(EMPNUM),2) AS 부서별평균사원수,
       FIRST_VALUE(EMPNUM) OVER (ORDER BY EMPNUM) AS 부서별최소사원수,
       LAST_VALUE(EMPNUM) OVER (ORDER BY EMPNUM) AS 부서별최대사원수
  FROM (SELECT DEPTNO, COUNT(*) AS EMPNUM FROM EMP GROUP BY DEPTNO ORDER BY EMPNUM)
  
  SELECT DEPTNO, COUNT(*) AS EMPNUM,
         FIRST_VALUE(DEPTNO) OVER (ORDER BY COUNT(*)) AS MIN_DEPT,
         FIRST_VALUE(DEPTNO) OVER (ORDER BY (COUNT(*)) DESC) AS MAX_DEPT,
         FIRST_VALUE(COUNT(*)) OVER (ORDER BY COUNT(*)) AS MIN_EMPNUM,
         FIRST_VALUE(COUNT(*)) OVER (ORDER BY (COUNT(*)) DESC) AS MAX_EMPNUM
    FROM EMP GROUP BY DEPTNO ORDER BY EMPNUM

SELECT SUM(EMPNUM) AS 전체사원수,
       COUNT(*) AS 부서개수,
       ROUND(AVG(EMPNUM),2) AS 부서별평균사원수,
       MIN(EMPNUM) AS 부서별최소사원수,
       MAX(EMPNUM) AS 부서별최대사원수,
       MIN(MIN_DEPT) AS 최소사원부서,
       MIN(MAX_DEPT) AS 최대사원부서
       
  FROM(
  SELECT DEPTNO, COUNT(*) AS EMPNUM,
         FIRST_VALUE(DEPTNO) OVER (ORDER BY COUNT(*)) AS MIN_DEPT,
         FIRST_VALUE(DEPTNO) OVER (ORDER BY (COUNT(*)) DESC) AS MAX_DEPT
    FROM EMP GROUP BY DEPTNO ORDER BY EMPNUM)
    
    
SELECT SUM(EMPNUM) AS 전체사원수,
       COUNT(*) AS 부서개수,
       ROUND(AVG(EMPNUM),2) AS 부서별평균사원수,
       MIN(MIN_EMPNUM) AS 부서별최소사원수,
       MIN(MAX_EMPNUM) AS 부서별최대사원수,
       MIN(MIN_DEPT) AS 최소사원부서,
       MIN(MAX_DEPT) AS 최대사원부서
       
  FROM(
  SELECT DEPTNO, COUNT(*) AS EMPNUM,
         FIRST_VALUE(DEPTNO) OVER (ORDER BY COUNT(*)) AS MIN_DEPT,
         FIRST_VALUE(DEPTNO) OVER (ORDER BY (COUNT(*)) DESC) AS MAX_DEPT,
         FIRST_VALUE(COUNT(*)) OVER (ORDER BY COUNT(*)) AS MIN_EMPNUM,
         FIRST_VALUE(COUNT(*)) OVER (ORDER BY (COUNT(*)) DESC) AS MAX_EMPNUM
    FROM EMP GROUP BY DEPTNO ORDER BY EMPNUM)
  
  
  
SELECT FIRST_VALUE(SAL) OVER (ORDER BY SAL)
  FROM EMP
  
SELECT 
       FIRST_VALUE(EMPNUM) OVER (ORDER BY EMPNUM) AS 부서별최소사원수
  FROM (SELECT DEPTNO, COUNT(*) AS EMPNUM FROM EMP GROUP BY DEPTNO ORDER BY EMPNUM)