<style>
    @font-face {
        font-family: "Computer Modern";
        src: url('http://9dbb143991406a7c655e-aa5fcb0a5a4ec34cff238a2d56ca4144.r56.cf5.rackcdn.com/cmunss.otf');
    }
    @font-face {
        font-family: "Computer Modern";
        font-weight: bold;
        src: url('http://9dbb143991406a7c655e-aa5fcb0a5a4ec34cff238a2d56ca4144.r56.cf5.rackcdn.com/cmunsx.otf');
    }
    @font-face {
        font-family: "Computer Modern";
        font-style: oblique;
        src: url('http://9dbb143991406a7c655e-aa5fcb0a5a4ec34cff238a2d56ca4144.r56.cf5.rackcdn.com/cmunsi.otf');
    }
    @font-face {
        font-family: "Computer Modern";
        font-weight: bold;
        font-style: oblique;
        src: url('http://9dbb143991406a7c655e-aa5fcb0a5a4ec34cff238a2d56ca4144.r56.cf5.rackcdn.com/cmunso.otf');
    }
	blockquote {
		background-color: #fcf2f2;
		border-color: #dFb5b4;
		border-left: 5px solid #dfb5b4;
		padding: 0.5em;
	}
	.rendered_html pre, .rendered_html code {
		/* border: 0; */
		background-color: #fcf2f2;
		border-color: #dFb5b4;
		/* color: #000; */
		font-size: 100%;
		padding: 0.2em;
	}
	p code {
		border: 1px;
		background-color: #fcf2f2;
		border-color: #dFb5b4;
		color: #ee4444;
		/* padding: 0.2em; */
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	}
	pre {
		background-color: #fcf2f2;
		border-color: #dFb5b4;
		/* padding: 0.5em;*/
	}
	div.warn {    
		background-color: #fcf2f2;
		border-color: #dFb5b4;
		border-left: 5px solid #dfb5b4;
		padding: 0.5em;
    }

</style>
